<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
	<display-name>WebProject100</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>by.htp.ex.controller.FrontController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/controller</url-pattern>
	</servlet-mapping>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/pages/tiles/front-controller-exception.jsp</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/pages/tiles/registration-exception.jsp</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/pages/tiles/logination-exception.jsp</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/pages/tiles/news-exception.jsp</location>
	</error-page>

	<listener>
		<listener-class>by.htp.ex.controller.ContextListener</listener-class>
	</listener>

	<filter>
		<filter-name>CharsetFilter</filter-name>
		<filter-class>by.htp.ex.controller.CharsetFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CharsetFilter</filter-name>
		<url-pattern>/controller</url-pattern>
	</filter-mapping>
</web-app>